{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
<section class="page-section">
    <div class="container">
        {% if servicio|length > 0 %}
            {% for s in servicio %}
            <div class="product-item">
                <div class="product-item-title d-flex">
                  <div class="bg-faded p-5 d-flex mr-auto rounded">
                    <h2 class="section-heading mb-0">
                      <span class="section-heading-upper">{{s.title}}</span>
                      <span class="section-heading-lower">{{s.subtitle}}</span>
                    </h2>
                  </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{s.image.url}}" alt="">
                <div class="product-item-description d-flex ml-auto">
                  <div class="bg-faded p-5 rounded">
                    <p class="mb-0">{{s.description}}</p>
                  </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}